<h1 class="header">Review Product</h1>

<div *ngIf="product" class="center-form">
    <table>
        <tr>
            <td><p>Product Name: {{ product.ProductName }}</p></td>
        </tr>
    </table>
</div>
<form (ngSubmit)="saveAndClose()">
    <div class="center-form">
        <table>
            <tr>
              <td><label class="form-label" for="VersionCode">Version Code</label></td>
              <td><input class="form-control" id="VersionCode" [(ngModel)]="product!.VersionCode" name="VersionCode" type="number"></td>
            </tr>
            <tr>
              <td><label class="form-label" for="SalesCode">Sales Code</label></td>
              <td><input class="form-control" id="SalesCode" [(ngModel)]="product!.SalesCode" name="SalesCode" type="number"></td>
            </tr>
            <tr>
              <td><label class="form-label" for="RequireApprovals">Req. Approvals</label></td>
              <td>
                
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="RequireApprovals" id="inlineRadio1" 
                  [(ngModel)]="product!.RequireApprovals" [value]="true">
                  <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="RequireApprovals" id="inlineRadio2"
                  [(ngModel)]="product!.RequireApprovals" [value]="false">
                  <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
                
            </td>
            </tr>
            <tr>
              <td><button class="btn btn-outline-secondary" type="submit">Save & Close</button></td>
            </tr>
        </table>
    </div>
</form>