<div class="center-container">
    <table>
      <tr>
        <td><a routerLink="/product" routerLinkActive="active">Top Products</a></td>
        <td><a routerLink="/add-initialstep" routerLinkActive="active">New Products</a></td>
      </tr>
      <tr>
        <td><a routerLink="/motor" routerLinkActive="active">Top Motors</a></td>
        <td><a routerLink="/othermotors" routerLinkActive="active">Other Motors</a></td>        
      </tr>
    </table>
  </div>
  <router-outlet></router-outlet>