.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  table {
    border-collapse: collapse;
  }
  
  td {
    padding: 20px;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: #0184AD;
  }
  
  a:hover {
    text-decoration: underline;
  }