<div class="menu-container">
  <div class="company-info">
    <img src="http://localhost:4200/home.png" alt="Logo"/>
    <div class="company-text"> <a routerLink="/home">NEPTUNE</a></div>
  </div>
    <ul class="menu">
      <li class="menu-item" (click)="toggleSubMenu('product')">
        Product
        <ul class="sub-menu" *ngIf="activeMenu === 'product'">
          <li class="sub-menu-item">
            <a routerLink="/product" routerLinkActive="active">Top Products</a>
          </li>
          <li class="sub-menu-item">
            <a routerLink="/otherproducts" routerLinkActive="active">Other Products</a>
          </li>
        </ul>
      </li>
      <li class="menu-item" (click)="toggleSubMenu('motor')">
        Motor
        <ul class="sub-menu" *ngIf="activeMenu === 'motor'">
          <li class="sub-menu-item">
            <a routerLink="/motor" routerLinkActive="active">Top Motors</a>
          </li>
          <li class="sub-menu-item">
            <a routerLink="/othermotors" routerLinkActive="active">Other Motors</a>          
          </li>
        </ul>
      </li>
    </ul>
</div>
<router-outlet></router-outlet>
