<div class="menu-container">
  <div>
    <a class="company-text" routerLink="/home">NEPTUNE
      <img src="home.png" alt="" width="30" height="24">
    </a>
  </div>
    <ul class="menu">
      <li class="menu-item" (click)="toggleSubMenu('product')">
        Product
        <ul class="sub-menu" *ngIf="activeMenu === 'product'">
          <li class="sub-menu-item">
            <a routerLink="/product" routerLinkActive="active">Top Products</a>
          </li>
          <li class="sub-menu-item">
            <a routerLink="/add-initialstep" routerLinkActive="active">New Products</a>
          </li>
        </ul>
      </li>
      <li class="menu-item" (click)="toggleSubMenu('motor')">
        Motor
        <ul class="sub-menu" *ngIf="activeMenu === 'motor'">
          <li class="sub-menu-item">
            <a routerLink="/motor" routerLinkActive="active">Top Motors</a>
          </li>
          <li class="sub-menu-item">
            <a routerLink="/othermotors" routerLinkActive="active">Other Motors</a>          
          </li>
        </ul>
      </li>
    </ul>
</div>
<router-outlet></router-outlet>
